@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:500,600,700&display=swap');
body {
  background-color: lightgrey;
}
.news {
  background-color: white;
  display: inline-block;
  overflow: hidden;
  max-width: 30em;
  margin: 1em 0;
  text-align: left;
  margin-right: 20;
  box-shadow: 5px 5px 1em rgba(0, 0, 0, .5);
  border-radius: 0.5em;
}
.news-lead {
  text-align: center;
}
.news-img {
  max-width: 100%;
}
.text {
  padding: 0 1em;
}
h1 {
  text-align: center;
}
h1, h2 {
  font-family: 'Be Vietnam', sans-serif;
}
p {
  font-family: 'PT Serif', serif;
}
.button {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none; 
  text-align: center;
  background-color: rgb(247, 6, 6);
  color: #ffffff;
  padding: 0.3em 0em;
}
.pagination {
  margin: 20px 0px;
}
.pagination ul {
  list-style: none;
  text-align: center;
}
.pagination ul li {
  display: inline-block;
  margin-right: 15px;
}
.pagination ul li a {
  display: block;
  padding: 15px;
  color: #ffffff;
  background: #3b3b3b;
  text-decoration: none;
  font-family: 'Be Vietnam', sans-serif;
  font-weight: 400;
}
.pagination ul li a:hover{
  background: #838282;
  color: #3b3b3b;
  font-weight: 700;
}
.pagination ul li :active {
  background: #838282;
  color: #3b3b3b;
  font-weight: 700;
}
.last {
  margin-right: 15px;
  color: #3b3b3b;
  text-decoration: none;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
}
.last :hover{
  color: #838282;
  font-weight: 700;
}
.next {
  margin-right: 15px;
  color: #3b3b3b;
  text-decoration: none;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 1.3em;
  font-weight: 400;
}
.next :hover{
  color: #838282;
  font-weight: 700;
}
